/*页面构架的基础部分*/
*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.content{
    width: 100%;
    height: 100%;
    position: relative;
}
.part{
    position: absolute;
}
.content-list{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.content-li{
    width: 100%;
    list-style: none;
    background-color: #e8190f;
    position: relative;
}
.page{
    width: 278px;
    height: 371px;
    top: 50%;
    left: 50%;
    margin-top: -185px;
    margin-left: -140px;
}
img{
    max-width: 100%;
    height: auto;
}
/*加载项*/
.loading{
    width: 50px;
    height: 40px;
    bottom: 18px;
    left: 50%;
    margin-left: -25px;
    z-index: 5;
    transition:all 1s ease-out;
    animation:loadingMove 1s ease-in infinite;
    -webkit-animation:loadingMove 1s ease-in infinite;
}
@keyframes loadingMove{
    0%{
        opacity: 0;
        transform:translate3d(0,5px,0)
    }
    50%{
        opacity: 1;
        transform:translate3d(0,0,0)
    }
    100%{
        opacity: 0;
        transform:translate3d(0,-8px,0)
    }
}
@-webkit-keyframes loadingMove{
    0%{
        opacity: 0;
        -webkit-transform:translate3d(0,5px,0)
    }
    50%{
        opacity: 1;
        -webkit-transform:translate3d(0,0,0)
    }
    100%{
        opacity: 0;
        -webkit-tranform:translate3d(0,-8px,0)
    }
}
/*翻页*/
.prevNextPage{
    width: 120px;
    height: 50px;
    bottom: 100px;
    left: 20px;
}
.prevNextPage button{
    width: 100%;
    height: 100%;
    background-color: #09c4be;
    outline: none;
    border: none;
}
/*预加载页面显示*/
.loading-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #e8190f;
}
@keyframes circleRun{
    0%{
        transform: rotate(0deg)
    }
    20%{
        transform:rotate(72deg);
    }
    40%{
        transform:rotate(144deg);
    }
    60%{
        transform:rotate(216deg);
    }
    80%{
        transform:rotate(288deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
@-webkit-keyframes circleRun{
    0%{
        -webkit-transform:rotate(0deg);
    }
    20%{
        -webkit-transform:rotate(72deg);
    }
    40%{
        -webkit-transform:rotate(144deg);
    }
    60%{
        -webkit-transform:rotate(216deg);
    }
    80%{
        -webkit-transform:rotate(288deg);
    }
    100%{
        -webkit-transform:rotate(360deg);
    }
}

.circle{
    width: 23px;
    height: 23px;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    background: url("../images/loading.png") no-repeat;
    background-position: 0 0;
    animation: circleRun 2s linear infinite;
    -webkit-animation: circleRun 2s linear infinite;
}
.circle-loading{
    width: 100px;
    height: 23px;
    top: 50%;
    left: 50%;
    margin-left: -44px;
    margin-top: 26px;
    background: url("../images/loading.png") no-repeat -23px 4px;
}
.fadeIn{
    opacity: 1 !important;
}
.fadeOut{
    opacity: 0 !important;
}