
/*浏览新车*/
.browse-new-car{
    margin-top: 5px;
    background-color: #f1f2f3;
}
.browse-new-car h2{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    border-width: 1px 0;
    line-height: 35px;
    font-weight: bold;
    padding: 0 0 0 12px;
    margin-top: 0;
    margin-bottom: 0;
}
.car-brand{/*显示滚动条*/
    overflow: auto;
}
.swipe-carousel-body{
    width: 1157px;
    height: 82px;
}
.swipe-carousel-body li{
    width: 89px;
    float: left;
    border-style: none solid solid none;
    border-color: #dddddd;
    border-width: 1px;
    padding: 7px;
}
.swipe-carousel-body li a{
    display: inline-block;
    width: 74px;
    height: 62px;
}
.swipe-carousel-body li .car-brand1{
    background: url("../../images/manufacturer-logos.png") no-repeat;
    background-position: -6px 0;
}
.swipe-carousel-body li .car-brand2{
    background: url("../../images/manufacturer-logos.png") no-repeat;
    background-position: -121px 0;
}
.swipe-carousel-body li .car-brand3{
    background: url("../../images/manufacturer-logos.png") no-repeat;
    background-position: -236px 0;
}
.swipe-carousel-body li .car-brand4{
    background: url("../../images/manufacturer-logos.png") no-repeat;
    background-position: -351px 0;
}
.swipe-carousel-body li .car-brand5{
    background: url("../../images/manufacturer-logos.png") no-repeat;
    background-position: -466px 0;
}
.swipe-carousel-body li .car-brand6{
    background: url("../../images/manufacturer-logos.png") no-repeat;
    background-position: -577px 0;
}
.swipe-carousel-body li .car-brand7{
    background: url("../../images/manufacturer-logos.png") no-repeat;
    background-position: -692px 0;
}
.swipe-carousel-body li .car-brand8{
    background: url("../../images/manufacturer-logos.png") no-repeat;
    background-position: -807px 0;
}
.swipe-carousel-body li .car-brand9{
    background: url("../../images/manufacturer-logos.png") no-repeat;
    background-position: -6px -87px;
}
.swipe-carousel-body li .car-brand10{
    background: url("../../images/manufacturer-logos.png") no-repeat;
    background-position: -6px -172px;
}
.swipe-carousel-body li .car-brand11{
    background: url("../../images/manufacturer-logos.png") no-repeat;
    background-position: -6px -259px;
}
.swipe-carousel-body li .car-brand12{
    background: url("../../images/manufacturer-logos.png") no-repeat;
    background-position: -6px -340px;
}
.swipe-carousel-body li .car-brand13{
    background: url("../../images/manufacturer-logos.png") no-repeat;
    background-position: -6px -427px;
}
.view-all{
    text-align: right;
    line-height: 40px;
    font-size: 16px;
}

/*新车中的广告*/
.new-car-ads{
    background-color: #fff;
    margin-top: 20px;
}
.swipe-type-body{
    width: 1180px;
    text-align: center;
}
.body-type ul li{
    border: none;
    width: 114px;
}
.swipe-type-body li a {
    display: inline-block;
    width: 106px;
    height: 62px;
}
.swipe-type-body li .body-type1{
    background: url("../../images/body-type.png") no-repeat;
    background-position: -3px 2px;
}
.swipe-type-body li .body-type2{
    background: url("../../images/body-type.png") no-repeat;
    background-position: -124px 2px;
}
.swipe-type-body li .body-type3{
    background: url("../../images/body-type.png") no-repeat;
    background-position: -248px 2px;
}
.swipe-type-body li .body-type4{
    background: url("../../images/body-type.png") no-repeat;
    background-position: 0 -45px;
}
.swipe-type-body li .body-type5{
    background: url("../../images/body-type.png") no-repeat;
    background-position: -124px -45px;
}
.swipe-type-body li .body-type6{
    background: url("../../images/body-type.png") no-repeat;
    background-position: -248px -45px;
}
.swipe-type-body li .body-type7{
    background: url("../../images/body-type.png") no-repeat;
    background-position: 0 -90px;
}
.swipe-type-body li .body-type8{
    background: url("../../images/body-type.png") no-repeat;
    background-position: -124px -90px;
}
.swipe-type-body li .body-type9{
    background: url("../../images/body-type.png") no-repeat;
    background-position: 0 -42px;
}
.swipe-type-body li .body-type10{
    background: url("../../images/body-type.png") no-repeat;
    background-position: -124px -90px;
}