#car-img{
    position: relative;
    overflow: hidden;
    left: 0;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
#car-img .img-items{
    float: left;
}
#car-img .img-items img{
    width: 100%;
    height: auto;
}
/*panel中的样式*/
.panel-body{
    background-color: #fff;
}
.panel-body ul {
    list-style: disc;
    color: #666;
}
.panel-body .price-value{
    color: #000;
    font-size: 18px;
    font-weight: bold;
}
.panel-body .drive-away{
    color: #999;
    font-size: 12px;
}
.panel-body-footer{
    border-top: 1px solid #999;
    padding-top: 20px;
}
.panel-body-footer .col-xs-5 a{
    display: block;
    width: 100%;
    background-color: #007cb8;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
}
.panel-body-footer .col-xs-5:first-child{
    padding-left: 0;
}
.panel-body-footer .col-xs-5:last-child{
    padding-right: 0;
}
.panel-body-footer .col-xs-2{
    text-align: center;
    font-size: 25px;
}
.panel-body-footer .col-xs-2 a{
    display: block;
    color: #ccc;
}
/*总的内容*/
.detail-body-content{
    background-color: #e8e8e8;
    padding-bottom: 60px;
}
.key-details{
    background-color: #fff;
}
.key-details h4{
    color: #007cb8;
}
.key-details ul{
    list-style: disc;
    padding-left: 15px;
    line-height: 30px;
}
.seller-comments{
    background-color: #fff;
    margin-top: 20px;
}
.seller-comments h4{
    color: #007cb8;
}
#hidden-comment{
    display: none;
}
#view-more{
    text-align: right;
    font-size: 12px;
    color: #ccc;
}
.vehicle-detail{
    background-color: #fff;
    margin-top: 20px;
}
.vehicle-detail-title{
    display: block;
    width: 100%;
    height: 36px;
    position: relative;
}
.vehicle-detail-title h4{
    color: #007cb8;
    float: left;
}
.vehicle-detail-title span{
    float: right;
    text-align: right;
    margin-top: 10px;
}
#vehicle-detail-content{
    width: 100%;
}
#vehicle-detail-content table tr th{
    width: 50%;
}
.features{
    background-color: #fff;
    margin-top: 20px;
}
#features-content{
    background-color: #fff;
}
#features-content h5{
    margin-top: 0;
    padding-left: 18px;
    color: #007cb8;
    padding-top: 10px;
}
.specifications{
    background-color: #fff;
    margin-top: 20px;
 }
#specifications-content{
    background-color: #fff;
}
#specifications-content h5{
    margin-top: 0;
    font-weight: 700;
    padding: 15px 0 15px 0;
    font-size: 15px;
}
#specifications-content ul li:first-child{
    border: none;
}
#specifications-content ul li table th{
    width: 50%;
}
#specifications-content ul li table tr:last-child{
    border-bottom: 1px solid #ddd;
}
.panel-wrap{
    background-color: #fff;
    margin-top: 20px;
}
.panel-wrap p{
    color: #999;
}
.panel-wrap .body-footer p{
    text-align: center;
}